Repository cobaltcore-dev/aurora-dashboard, pull requests merged in 2025-03, with the labels that each got.

#84 chore(aurora-portal): fix navigation and wouter
  apps/aurora-portal/src/client/Auth/SignIn.tsx
  apps/aurora-portal/src/client/Project/ProejctsOverview.tsx
  apps/aurora-portal/src/client/Project/components/ProjectCardView.tsx
  apps/aurora-portal/src/client/Project/components/ProjectListView.test.tsx
  apps/aurora-portal/src/client/Project/components/ProjectListView.tsx
  apps/aurora-portal/src/client/Project/components/ProjectsCarView.test.tsx
  apps/aurora-portal/src/client/Shell/App.tsx
  apps/aurora-portal/src/client/Shell/AppContent.tsx
  apps/aurora-portal/src/client/Shell/AuroraProvider.tsx
  apps/aurora-portal/src/client/Shell/AuthProvider.tsx
  apps/aurora-portal/src/client/Shell/Navigation/AuroraNavigationToolbar.test.tsx
  apps/aurora-portal/src/client/Shell/Navigation/AuroraNavigationToolbar.tsx
  apps/aurora-portal/src/client/Shell/Navigation/MainNavigation.test.tsx
  apps/aurora-portal/src/client/Shell/Navigation/MainNavigation.tsx
  apps/aurora-portal/src/client/Shell/Navigation/NavigationLayout.tsx
  apps/aurora-portal/src/client/Shell/Navigation/SubNavigation.tsx
Labels: aurora-portal

#90 chore(aurora-portal): network overview d3
  apps/aurora-portal/eslint.config.mjs
  apps/aurora-portal/package.json
  apps/aurora-portal/src/client/Network/NetworkOverview.tsx
  apps/aurora-portal/src/client/Network/components/TopologyChart.tsx
  apps/aurora-portal/src/client/Network/components/data.ts
  apps/aurora-portal/src/client/Network/components/drawSvg.d.ts
  apps/aurora-portal/src/client/Network/components/drawSvg.js
  apps/aurora-portal/src/client/Shell/AppContent.tsx
  pnpm-lock.yaml
Labels: aurora-portal

#99 chore(dashboard): stringify zod errors
  apps/aurora-portal/src/server/server.ts
Labels: enhancement, aurora-portal

#98 chore(signal-openstack): parse api response errors
  packages/signal-openstack/src/client.test.ts
  packages/signal-openstack/src/client.ts
  packages/signal-openstack/src/error.test.ts
  packages/signal-openstack/src/error.ts
  packages/signal-openstack/src/responseErrorHandler.test.ts
  packages/signal-openstack/src/responseErrorHandler.ts
  packages/signal-openstack/src/service.test.ts
Labels: enhancement

#108 chore(aurora-portal): introduce AuroraRoutePaths helpers
  apps/aurora-portal/src/client/Compute/components/ComputeNavBar.tsx
  apps/aurora-portal/src/client/Project/components/ProjectCardView.tsx
  apps/aurora-portal/src/client/Project/components/ProjectListView.test.tsx
  apps/aurora-portal/src/client/Project/components/ProjectListView.tsx
  apps/aurora-portal/src/client/Project/components/ProjectsCarView.test.tsx
  apps/aurora-portal/src/client/Shell/AppContent.tsx
  apps/aurora-portal/src/client/Shell/AuroraProvider.tsx
  apps/aurora-portal/src/client/Shell/Navigation/AuroraNavigationToolbar.test.tsx
  apps/aurora-portal/src/client/Shell/Navigation/MainNavigation.tsx
  apps/aurora-portal/src/client/Shell/Navigation/routes.ts
  apps/aurora-portal/src/client/routes/AuroraRoutes.test.ts
  apps/aurora-portal/src/client/routes/AuroraRoutes.ts
  apps/aurora-portal/src/client/routes/AuroraRoutesSchema.ts
  apps/aurora-portal/src/client/routes/constants.ts
Labels: aurora-portal

#117 chore(aurora-portal): add toast component
  apps/aurora-portal/package.json
  apps/aurora-portal/src/client/Compute/components/ServerListView.tsx
  apps/aurora-portal/src/client/Shell/App.tsx
  apps/aurora-portal/src/client/Shell/NotificationCenter/AuroraToast.test.tsx
  apps/aurora-portal/src/client/Shell/NotificationCenter/AuroraToast.tsx
  apps/aurora-portal/src/client/components/Button.tsx
  apps/aurora-portal/src/client/test-helper.tsx
  pnpm-lock.yaml
Labels: aurora-portal
