Repository cobaltcore-dev/aurora-dashboard, pull requests merged in 2025-09, with the labels that each got.

#357 feat(portal): adding create and delete Modal to FlavorUI
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/CreateFlavorModal.test.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/CreateFlavorModal.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/DeleteFlavorModal.test.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/DeleteFlavorModal.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/FilterToolbar.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/FlavorListContainer.test.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/FlavorListContainer.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/flavorValidation.test.ts
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/flavorValidation.ts
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/List.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Images/-components/ImageListView.tsx
  apps/aurora-portal/src/client/utils/useErrorTranslation.ts
  apps/aurora-portal/src/locales/de/messages.po
  apps/aurora-portal/src/locales/de/messages.ts
  apps/aurora-portal/src/locales/en/messages.po
  apps/aurora-portal/src/locales/en/messages.ts
  apps/aurora-portal/src/server/Compute/helpers/flavorHelpers.test.ts
  apps/aurora-portal/src/server/Compute/helpers/flavorHelpers.ts
  apps/aurora-portal/src/server/Compute/routers/flavorRouter.test.ts
  apps/aurora-portal/src/server/Compute/routers/flavorRouter.ts
  apps/aurora-portal/src/server/Compute/types/flavor.test.ts
  apps/aurora-portal/src/server/Compute/types/flavor.ts
  apps/aurora-portal/src/server/errorCodes.ts
Labels: enhancement, aurora-portal

#366 refactor(portal): reshape heading for projects and change delete message design
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/$.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/ComputeNavBar.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/DeleteFlavorModal.test.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/DeleteFlavorModal.tsx
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/-components/flavorValidation.ts
  apps/aurora-portal/src/client/routes/_auth/accounts/$accountId/projects/$projectId/compute/-components/Flavors/List.tsx
  apps/aurora-portal/src/locales/de/messages.po
  apps/aurora-portal/src/locales/de/messages.ts
  apps/aurora-portal/src/locales/en/messages.po
  apps/aurora-portal/src/locales/en/messages.ts
Labels: enhancement

#381 fix(bff): improve error handling (images bff)
  apps/aurora-portal/src/server/Compute/helpers/imageHelpers.test.ts
  apps/aurora-portal/src/server/Compute/helpers/imageHelpers.ts
  apps/aurora-portal/src/server/Compute/routers/imageRouter.test.ts
  apps/aurora-portal/src/server/Compute/routers/imageRouter.ts
Labels: aurora-portal
